:root {
  --bg-color: #fff;
  --main-color: #EF3B24;
  --dark-text-color: #000;
  --light-text-color: #fff;
  --sidebar-width: 64px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  /* min-width: 1200px; */
  font-family: Inter;
  font-weight: 400;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* glob */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.title-reset,
.paragraph-reset {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container--opened-menu {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000069;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-left: var(--sidebar-width);
  padding: 6px 12px;
  width: 100%;
}

/* sidebar */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  height: 100%;
  width: var(--sidebar-width);
  background-color: var(--main-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 40px;
  height: 40px;
  border: solid 2px var(--light-text-color);
  border-radius: 5px;
  margin-bottom: 23px;
}

.nav__burger-line {
  width: 24px;
  height: 4px;
  background-color: var(--light-text-color);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar--opened {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 24px 12px 12px 0;
  height: 100%;
  background-color: var(--main-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 31px;
}

.sidebar--opened .nav__burger {
  position: absolute;
  top: 12px;
  right: 12px;
  margin-bottom: 0;
}

.sidebar__logo {
  margin: 0 auto;
}

.sidebar--opened .nav__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  margin-left: 8px;
}

.nav__link-text {
  margin-left: 12px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--light-text-color);
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 20px;
  background-color: var(--main-color);
  border-radius: 8px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

/* signup, login */
.signup {
  display: flex;
  flex-direction: column;
  margin: 47px auto;
  padding: 40px 169px 188px;
  min-width: 432px;
  border: solid 1px #000;
  border-radius: 8px;
}

.signup__title {
  margin-bottom: 49px;
  text-align: center;
  font-family: Jura;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0em;
}

.signup__form {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.signup__input-group {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
}

.signup__label {
  display: block;
}

.signup__input {
  width: 100%;
  padding: 15px 20px;
  border: 0.5px solid #00000088;
  border-radius: 8px;
}

.signup__button,
.signup__button--reverse {
  padding: 20px 52px;
  width: 100%;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  border-radius: 7px;
}

.signup__button {
  color: var(--light-text-color);
  background-color: #000;
}

.signup__button--reverse {
  color: var(--dark-text-color);
  border: 5px solid #000
}

/* user */
.user {
  display: flex;
  flex-direction: column;
  margin: 50px 39px;
}

.user__info {
  display: flex;
  flex-direction: row;
}

.user__left-info {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.user__avatar {
  position: relative;
  margin-bottom: 24px;
  border-radius: 40px;
}

.user__avatar-img {
  width: 270px;
  height: 270px;
  border-radius: 40px;
}

.add-avatar-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.user__role {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #000;
  border-radius: 8px;
}

.user__data {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.user__fio {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
  width: 432px;
  padding: 15px 20px;
  border: 1.5px solid #000;
  border-radius: 8px;
}

.user__btns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 36px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.user__save-btn {
  padding: 10px 11px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--dark-text-color);
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 7px;
}

.user__signout-btn {
  padding: 10px 30px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--light-text-color);
  background-color: #000;
  border-radius: 7px;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
}

.main__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
}

.main__title-text {
  display: inline-block;
  margin-left: 5px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
}

.table-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13px;
}

.table-controls__date {
  display: flex;
  flex-direction: row;
  height: 35px;
  border: 1px solid #000;
  border-radius: 4px;
}

.table-controls__date-left-btn,
.table-controls__date-right-btn {
  margin-top: -4px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.table-controls__calendar-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 3px 0;
  padding: 7px;
  width: 209px;
  border: 1px solid #000;
  border-radius: 4px;
}

.table-controls__calendar-svg {
  margin-top: -2px;
}

.table-controls__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 33px;
}

.table-controls__filter,
.table-controls__selector {
  padding: 3px 23px 6px;
  height: 35px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--dark-text-color);
  border: solid 1px #000;
  border-radius: 4px;
}

.table-controls__filter {
  width: 140px;
}

.main__table {
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}

.main__table-head .main__table-row {
  height: 40px;
}

.main__table-head-cell,
.main__table-body-cell {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--dark-text-color);
  border: 1px solid #000;
}

.main__table-head-cell--first,
.main__table-body-cell--first {
  width: 180px;
}

.main__table-row {
  height: 100px;
}


/* staff */
.staff .main__title {
  margin-bottom: 36px;
}

.staff__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.staff__member {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.staff__member-avatar {
  width: 118px;
  height: 118px;
  margin-right: 18px;
}

.staff__member-avatar-img {
  border-radius: 40px;
}

.staff__member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  margin-right: 50px;
}

.staff__member-fio,
.staff__member-role {
  font-family: Inter;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
  color: var(--dark-text-color);
}

.staff__member-edit-btn {
  padding: 17px 5px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  color: #000;
  border: 3px solid #000;
  border-radius: 7px;
}


/* staff-member */
.staff-member .main__title {
  margin-bottom: 36px;
}

.staff-member__role-field {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0em;
  width: 100%;
  border: 1px solid #000;
  border-radius: 8px;
}


/* calculator */
.calculator .main__title {
  margin-bottom: 36px;
}

.calculator__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 66px;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.calculator__input-wrapper {
  padding: 0 19px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  width: 100%;
  border: 4px solid #000;
  border-radius: 20px;
}

.calculator__input-label {
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--dark-text-color);
}

.calculator__input {
  padding: 10px 10px;
  width: 100%;
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0em;
  color: var(--dark-text-color);
  border: 4px solid #000;
  border-radius: 20px;
}

.calculator__worker-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.calculator__worker-input {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  width: 100%;
  border: 4px solid #000;
  border-radius: 20px;
}

.worker-input__role,
.worker-input__count,
.worker-input__min-count,
.worker-input__salary {
  padding: 2px 0;
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0em;
  color: var(--dark-text-color);
  border: none;
  outline: none;
}

.worker-input__role,
.worker-input__count,
.worker-input__min-count {
  border-bottom: 0.5px solid #000;
}

.calculator__worker-btns {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.calculator__worker-remove-btn,
.calculator__worker-add-btn {
  padding: 8px 12px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--light-text-color);
  background-color: #000;
  border-radius: 4px;
}

.calculator__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.calculator__submit-btn {
  padding: 8px 12px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--light-text-color);
  background-color: #000;
  border-radius: 4px;
}

.calculator__result-wrapper {
  padding: 10px 30px 35px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 60%;
  border: 5px solid #000;
  border-radius: 30px;
}

.calculator__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calculator__result-title {
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0em;
  color: var(--dark-text-color);
}

.calculator__result-text {
  padding: 40px 50px;
  width: 100%;
  min-height: 125px;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0em;
  color: var(--dark-text-color);
  border: 5px solid #000;
  border-radius: 30px;
}


/* calendar */
.calendar {
  width: 100%;
}

.calendar__month {
  font-size: 26px;
  font-weight: bold;
}

.calendar__btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

/* .calendar__table {
  width: 100%;
  border-collapse: collapse;
}

.calendar__table-head-cell {
  text-align: 'center';
  padding: '10px 0';
  border: 1px solid #000;
} */

.calculator__table-body-cell {
  background-color: #efefef;
}

.calculator__table-body-cell--active {
  background-color: var(--main-color);
}

.calendar__date-btn {
  width: 100%;
  height: 100px;
}

.calendar__date-btn:hover {
  background-color: beige;
}

.calendar__date-btn:active {
  background-color: var(--main-color);
}

.calendar__selected-date {
  padding: 10px;
}

/* loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0em;
}


/* select */
.select {
  width: 100%;
  border: 0.5px solid #00000088;
  border-radius: 8px;
}

.select__container {
  padding-left: 0.625vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.select__placeholder {
  color: #00000080;
  padding: 15px 20px;
}

.select__icon {
  padding-right: 20px;
}

.select__dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 2px solid #000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease-out, height 0.2s ease-out;
}

.select__option {
  padding: 15px 20px;
  cursor: pointer;
}

.select--active {
  border: 2px solid #000;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select--active .select__dropdown {
  display: inline-block;
  opacity: 1;
}

.select--active .select__icon {
  transform: rotateX(180deg);
}

.select__option:hover {
  background-color: #E0E0D6;
}

.select__option:active,
.select__option--selected {
  background-color: var(--main-color);
}

.select--selected .select__placeholder {
  color: var(--dark-text-color);
}